@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    //
    // Breadcrumbs
    //
    if (Model.IsClickable)
    {
        // breadcrumb 
        <a href="@Model.Url" title="@Model.Description">@Model.Title</a>
    }
    else
    {
        <span title="@Model.Description">@Model.Title</span>
    }
}
else 
{
    //
    // page-sidebar menu
    //
    Boolean isActiveNode = Model.IsCurrentNode || Model.IsInCurrentPath;
    <a href="@(Model.IsClickable ? Model.Url : "javascript:;")">
        @Metro.Icon(Model.ImageUrl)
        <span class="title">@Model.Title</span>
        @if (isActiveNode && Model.IsRootNode)
        {
            <span class="selected"></span>
        }
        @if(Model.Children.Any())
        {
            <span class="arrow @(isActiveNode ? "open" : String.Empty)"></span>
        }
    </a>
}
