@using WebUI.Helpers.Gravatar
@model WebUI.Models.Account.Index
@{
    ViewBag.Title = "User Profile";
    ViewBag.SubTitle = Model.DisplayName;
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section Styles
{
    <link href="@Url.Content("~/assets/css/pages/profile.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    @Scripts.Render("~/Scripts/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator && $.validator.setDefaults({
                errorElement: 'span',
                errorClass: 'help-inline',
                focusInvalid: false,
                highlight: function (element) {
                    $(element).closest('.help-inline').removeClass('ok');
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                unhighlight: function (element) {
                    $(element).closest('.control-group').removeClass('error');
                },
                success: function (label) {
                    $(label).addClass('valid help-inline ok')
                        .closest('control-group').removeClass('error').addClass('success');
                }
            });
        });
    </script>
    @Scripts.Render("~/Scripts/jqueryval-unobtrusive")
}
<div class="row-fluid profile">
    <div class="span12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                @if (Model.IsEditable)
                {
                    <li class="active">
                        <a href="#account" data-toggle="tab">My Account</a>
                    </li> 
                }
                <li class="@(!Model.IsEditable ? "active" : String.Empty)">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li>
                    <a href="#profile_info" data-toggle="tab">Profile</a>
                </li>
            </ul>
            <div class="tab-content">
                @if (Model.IsEditable)
                {
                    <div class="tab-pane row-fluid profile-account active" id="account">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a href="#account_details" data-toggle="tab">
                                                @Metro.Icon("icon-user")
                                                Personal Information
                                            </a>
                                            <span class="after"></span>
                                        </li>
                                        <li>
                                            <a href="#account_password" data-toggle="tab">
                                                @Metro.Icon("icon-lock")
                                                Change Password
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span9">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="account_details">
                                            <div style="height:auto;" id="accordian1-1" class="accordion collapse">
                                                @Html.EditorFor(x => x.UpdateProfile)
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="account_password">
                                            <div style="height: auto;" id="accordion2-2" class="accordion collapse">
                                                @Html.EditorFor(x => x.ChangePassword)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="tab-pane row-fluid @(!Model.IsEditable ? "active" : String.Empty)" id="overview">
                    <ul class="unstyled profile-nav span3">
                        <li>
                            @Html.Gravatar(Model.EmailAddress, 825).DefaultImage(GravatarDefaultImage.GeneratedPattern)
                            <a href="http://www.gravatar.com/" target="_blank" class="profile-edit">edit</a>
                        </li>
                    </ul>
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span8 profile-info">
                                <h1>@Html.DisplayFor(x => x.DisplayName)</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt laoreet dolore
                                    magna aliquam tincidunt erat volutpat laoreet dolore
                                    magna aliquam tincidunt erat volutpat.
                                </p>
                                <ul class="unstyled inline">
                                    <li>@Metro.Icon("icon-envelope") @Html.DisplayFor(x => x.EmailAddress)</li>
                                    @if (Model.IsAdministrator)
                                    {
                                        <li>@Metro.Icon("icon-star") Administrator</li>
                                    }
                                </ul>
                            </div>
                            <div class="span4">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <h4>Sales Summary</h4>
                                    </div>
                                    <ul class="unstyled">
                                        <li>
                                            <span class="sale-info">TODAY SOLD</span>
                                            <span class="sale-num"> 23</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">WEEKLY SALES</span>
                                            <span class="sale-num"> 87</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">TOTAL SOLD</span>
                                            <span class="sale-num">2377</span>
                                        </li>
                                        <li>
                                            <span class="sale-info">EARNINGS</span>
                                            <span class="sale-num">$2,162.39</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane profile-classic row-fluid" id="profile_info">
                    <div class="span2">
                        @Html.Gravatar(Model.EmailAddress, 825).DefaultImage(GravatarDefaultImage.GeneratedPattern)
                        <a href="http://www.gravatar.com/" target="_blank" class="profile-edit">edit</a>
                    </div>
                    <ul class="unstyled span10">
                        <li><span>@Html.DisplayNameFor(x => x.Username)</span> @Html.DisplayFor(x => x.Username)</li>
                        <li><span>@Html.DisplayNameFor(x => x.DisplayName)</span> @Html.DisplayFor(x => x.DisplayName)</li>
                        <li><span>@Html.DisplayNameFor(x => x.EmailAddress)</span> @Html.DisplayFor(x => x.EmailAddress)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
