@using WebUI.Helpers.Gravatar
@model WebUI.Models.UI.UserDropdown
<li class="dropdown user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @Html.Gravatar(Model.EmailAddress, 29).DefaultImage(GravatarDefaultImage.GeneratedPattern)
        <span class="username">@Model.UserName</span>
        @Metro.Icon("icon-angle-down")
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.RouteUrl("Account_Profile")">
                @Metro.Icon("icon-user") My Profile
            </a>
        </li>
        <li>
            <a href="#">
                @Metro.Icon("icon-calendar") My Calendar
            </a>
        </li>
        <li>
            <a href="#">
                @Metro.Icon("icon-envelope") My Email
            </a>
        </li>
        <li>
            <a href="#">
                @Metro.Icon("icon-tasks") My Tasks
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="@Url.RouteUrl("Account_Lock", new { returnUrl = Request.RawUrl })">
                @Metro.Icon("icon-lock") Lock
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl("Account_Logout")">
                @Metro.Icon("icon-off") Log Out
            </a>
        </li>
    </ul>
</li>