@model WebUI.Models.Account.ChangePassword
@using (Html.BeginRouteForm("Account_ChangePassword", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Username)
                                                
    @Html.LabelFor(x => x.CurrentPassword)
    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "m-wrap span8" })

    @Html.LabelFor(x => x.NewPassword)
    @Html.PasswordFor(x => x.NewPassword, new { @class = "m-wrap span8" })

    @Html.LabelFor(x => x.ConfirmNewPassword)
    @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "m-wrap span8" })

    <div class="submit-btn">
        <button type="submit" class="btn green">Save Changes</button>
    </div>
}