@model WebUI.Models.Account.Login
@using (Html.BeginRouteForm("Account_Login_POST", FormMethod.Post, new { @class = "form-vertical login-form" }))
{
    @Html.AntiForgeryToken()
    <h3 class="form-title">Login to your account</h3>
    @Html.ValidationSummary(true, null, new { @class = "alert alert-error" })
    <div class="control-group">
        @Html.LabelFor(x => x.Username, new { @class = "control-label visible-ie8 visible-ie9" })
        <div class="controls">
            <div class="input-icon left">
                <i class="icon-user"></i>
                @Html.TextBoxFor(x => x.Username, new { @class = "m-wrap placeholder-no-fix", placeholder = "Username" })
            </div>
            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "help-inline help-small no-left-padding" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label visible-ie8 visible-ie9" })
        <div class="controls">
            <div class="input-icon left">
                <i class="icon-lock"></i>
                @Html.PasswordFor(x => x.Password, new { @class = "m-wrap placeholder-no-fix", placeholder = "Password" })
            </div>
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-inline help-small no-left-padding" })
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox">
            @Html.CheckBoxFor(x => x.RememberMe)
            @Html.DisplayNameFor(x => x.RememberMe)
        </label>
        <button type="submit" class="btn green pull-right">
            Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
    <div class="forget-password">
        <h4>Forgot your password?</h4>
        <p>
            Don't worry, you can @Html.RouteLink("reset your password", "Account_ForgotPassword", null, new { id = "forgot-password" }).
        </p>
    </div>
    <div class="create-account">
        <p>
            Need an account? Go @Html.RouteLink("register", "Account_Register", null, new { id = "register-btn" }) now!
        </p>
    </div>
}