@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "login";
}
@section Styles
{
    @Styles.Render("~/css/metronic/login")
    <style type="text/css">
            .login .content .forget-form,
            .login .content .register-form {
                display: inherit !important;
            }
    </style>
    @RenderSection("Styles", required: false)
}
@section Scripts
{
    <script src="@Url.Content(WebUI.BundleNames.jQuery_Validate_ScriptBundle)" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $.validator && $.validator.setDefaults({
                errorElement: 'label',
                errorClass: 'help-inline',
                focusInvalid: false,
                invalidHandler: function(element, validator){
                },
                highlight: function (element) {
                    $(element).closest('.control-group').addClass('error');
                },
                success: function (label) {
                    label.closest('.control-group').removeClass('error');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    error.addClass('help-small no-left-padding').insertAfter(element.closest('.input-icon'));
                }
            });
        });
    </script>
    <script src="@Url.Content(WebUI.BundleNames.jQuery_Unobtrusive_ScriptBundle)" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
}
<div class="logo">
    <img src="@Url.Content("~/Assets/img/logo-big.png")" alt="" />
</div>
<div class="content">
    @RenderBody()
</div>
<div class="copyright">
    @DateTime.Now.Year &copy; Metronic Admin Dashboard Template<br />
    by keenthemes
</div>