@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "page-header-fixed";
}
@section Styles
{
    @RenderSection("Styles", required: false)
}
@section Scripts
{
    @{ Html.RenderAction("KOProfile", "UI"); }
    @RenderSection("Scripts", required: false)
}
<!-- HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- LOGO -->
            <a href="@Url.RouteUrl("Default")" class="brand">
                <img alt="logo" src="@Url.Content("~/Assets/img/logo.png")" />
            </a>
            <!-- /LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="@Url.Content("~/Assets/img/menu-toggler.png")" alt="" />
            </a>          
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- TOP NAV MENU -->
            <ul class="nav pull-right">
                @{ Html.RenderAction("UserDropdown", "UI", new { area = "" }); }
            </ul>
            <!-- /TOP NAV MENU -->
        </div>
    </div>
</div>
<!-- /HEADER -->
    
<!-- CONTENT -->
<div class="page-container row-fluid">
    <!-- LEFT MENU -->
    @Html.MvcSiteMap().Menu(false)
    <!-- /LEFT MENU -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
        <div class="container-fluid">
            <!-- PAGE TITLE -->
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">
                        @ViewBag.Title
                        @if (!String.IsNullOrEmpty((String)ViewBag.SubTitle))
                        { 
                            <small>@ViewBag.SubTitle</small>
                        }
                    </h3>
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
            </div>
            <!-- /PAGE TITLE -->
            @{ Html.RenderAction("Notifications", "UI", new { area = "" }); }
            @RenderBody()
        </div>
    </div>
    <!-- /PAGE CONTENT -->
</div>
<!-- /CONTENT -->

<!-- FOOTER -->
<div class="footer">
    @DateTime.Now.Year &copy; Metronic. Admin Dashboard Template. by keenthemes
    <div class="span pull-right">
        <span class="go-top">@Metro.Icon("icon-angle-up")</span>
    </div>
</div>
<!-- /FOOTER -->