@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "fixed-top";
}
@section Styles
{
    @RenderSection("Styles", required: false)
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/breakpoints/breakpoints.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            breakpoints([320, 480, 768, 900, 1024, 1280], function (before, after) {
                var winWidth = $(window).width();
                if (winWidth < 900) {
                    $.fn.cookie && $.cookie('sidebar-closed', null);
                    $('.page-container').removeClass('sidebar-closed');
                }
                $('.responsive').each(function () {
                    var forTablet = $(this).data('tablet'),
                        forDesktop = $(this).data('desktop') || this.className.match(/span\d+/)[1];
                    if (forTablet) {
                        $(this).removeClass(winWidth <= 1280 ? forDesktop : forTablet);
                        $(this).addClass(winWidth <= 1280 ? forTablet : forDesktop);
                    }
                });
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
}
<!-- HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- LOGO -->
            <a href="@Url.RouteUrl("Default")" class="brand">
                <img alt="logo" src="@Url.Content("~/Content/img/logo.png")" />
            </a>
            <!-- /LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="@Url.Content("~/Content/img/menu-toggler.png")" alt="" />
            </a>          
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- TOP NAV MENU -->
            <ul class="nav pull-right">
                @{ Html.RenderAction("UserDropdown", "UI", new { area = "" }); }
            </ul>
            <!-- /TOP NAV MENU -->
        </div>
    </div>
</div>
<!-- /HEADER -->
    
<!-- CONTENT -->
<div class="page-container row-fluid">
    <!-- LEFT MENU -->
    <div class="page-sidebar nav-collapse collapse">
        <ul>
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <li>
                @using (Html.BeginRouteForm("Search", FormMethod.Post, new { @class = "sidebar-search" }))
                {
                    <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" id="query" placeholder="Search..." />
                        <input type="button" class="submit" value=" " />
                    </div> 
                }
            </li>
            <li class="start active">
                <a href="#">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /LEFT MENU -->

    <!-- PAGE CONTENT -->
    <div class="page-content">
        <div class="container-fluid">
            <!-- PAGE TITLE -->
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">
                        @ViewBag.Title
                        @if (!String.IsNullOrEmpty((String)ViewBag.SubTitle))
                        { 
                            <small>@ViewBag.SubTitle</small>
                        }
                    </h3>
                    @Html.MvcSiteMap().SiteMapPath()
                    @*<ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="#">Home</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>*@
                </div>
            </div>
            <!-- /PAGE TITLE -->
            @RenderBody()
        </div>
    </div>
    <!-- /PAGE CONTENT -->
</div>
<!-- /CONTENT -->

<!-- FOOTER -->
<div class="footer">
    @DateTime.Now.Year &copy; Metronic. Admin Dashboard Template. by keenthemes
    <div class="span pull-right">
        <span class="go-top"><i class="icon-angle-up"></i></span>
    </div>
</div>
<!-- /FOOTER -->