<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="author" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    @RenderSection("Styles", required: false)
</head>
<body class="@ViewBag.BodyCssClass">
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
