@model WebUI.Models.Account.ChangePassword
<div id="account_changepassword_ajax">
    @using (Ajax.BeginRouteForm("Account_ChangePassword", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "account_changepassword_ajax" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationSummary(true, "Enter your new information and click save changes", new { @class = "alert alert-block" })
    
        <div class="control-group">
            @Html.LabelFor(x => x.CurrentPassword, new { @class = "control-label" })
            @Html.PasswordFor(x => x.CurrentPassword, new { @class = "m-wrap span8" })
            @Html.ValidationMessageFor(x => x.CurrentPassword, "", new { @class = "help-inline" })
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
            @Html.PasswordFor(x => x.NewPassword, new { @class = "m-wrap span8" })
            @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "help-inline" })
        </div>
        <div class="control-group">
            @Html.LabelFor(x => x.ConfirmNewPassword, new { @class = "control-label" })
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "m-wrap span8" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword, "", new { @class = "help-inline" })
        </div>
        <div class="form-actions">
            <input type="submit" class="btn green" value="Save Changes" />
        </div>
    }
</div>
